<!DOCTYPE html>
<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
      type="text/css"
    />
    <title>URL Shortener</title>
  </head>

  <body>
    <div class="box">
      <h2>Make your URL shorter</h2>
      <form>
        <input type="text" placeholder="Enter your URL..."/>
        <input type="submit" value="Shorten"/>
      </form>
      <h3></h3>
    </div>
  </body>

</html>