<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
    <script>
        function copyUrl() {
            var copyText = document.getElementById("short_url");

            copyText.select();
            copyText.setSelectionRange(0, 99999);

            document.execCommand("copy");
        }
    </script>

    <title>URL Shortener</title>
</head>

<body>
<div class="box">
    <h2>Make your URL shorter</h2>

    <form method="post">
        <input type="text" name="long_url" placeholder="Enter your URL..."/>
        <input type="submit" value="Shorten"/>
    </form>

    <form style="margin-top: 10%; display: {{ display }};">

        <input type="text" id="short_url" value="{{ short_url }}"
               placeholder="Here will be your short URL" style="border-radius: 20px 0px 0px 20px;
               text-align: center; color: #ff4282;"/>

        <input type="submit" onclick="copyUrl()" value="Copy"
               style="border-radius: 0px 20px 20px 0px;"/>

        <h3>Redirects to: <img src="https://www.google.com/s2/favicons?domain={{ long_url }}"
                height="14px" alt="favicon"/> {{ long_url }}</h3>

    </form>
</div>


</body>
</html>